server:
  port: 8082

spring:
  application:
    name: order-service
  
  datasource:
    url: jdbc:postgresql://localhost:5434/orderdb
    username: orderuser
    password: orderpassword
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/microshop
          jwk-set-uri: http://localhost:8080/realms/microshop/protocol/openid-connect/certs

logging:
  level:
    org.springframework.security: INFO
    com.example.orderservice: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

application:
  config:
    product-service-url: http://localhost:8081/api/products
