server:
  port: 8081

spring:
  application:
    name: product-service
  
  datasource:
    url: jdbc:postgresql://localhost:5433/productdb
    username: productuser
    password: productpassword
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/microshop
          jwk-set-uri: http://localhost:8080/realms/microshop/protocol/openid-connect/certs

logging:
  level:
    org.springframework.security: INFO
    com.example.productservice: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
